body{
    margin:0;
    padding: 0;
}

header{
    background-color: #e4f9fcfd;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex; 
    width: 100%;
    justify-content: center;
}

li{
    list-style: none; 
    padding: 15px;
}

a{
    font-size: 20px; 
    font-weight: bold; 
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

h1{
    padding-top: 20px;
    padding-left: 80px;
}

p{
    padding-left: 80px;
    padding-right: 50px;
    font-size: 18px;
}

.alinha{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-top: 40px;
    border: 3px solid #000000fd;
    border-radius: 20px;
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
}

h2{
    color: rgb(41, 118, 189);
    font-size: 25px;
    padding-left: 80px;
}

img{
    padding-right: 80px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #e4f9fcfd;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}