header {
    background-color: #333;
    padding: 10px 0;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 10px;
}

a {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    list-style: none;
    border: 1px solid #333;
    float: left;
    margin-left: 1%;
    background-color: #333;

}

.menu li {
    position: relative;
    float: left;
    font-family: arial, helvetica, sans-serif;
    font-size: 8px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 1px 3px;
    display: block;
}

.menu li a:hover {
    background: #333;
    color: #fff;
    z-index: 9999;
    position: relative;
    text-shadow: 0px 0px 5px #333;
}

.menu li ul {
    position: absolute;
    display: block;
    top: 40px;
    left: 0;
    background-color: #333;
    display: none;
    width: 150px;
    z-index: 99999;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li div li {
    border: 1px solid #333;
    display: block;
    width: 150px;
}

.logo {
    width: 5%;
    margin-left: 1%;
    padding: 9px;
}

.Pesquisar {
    padding: 5px;
    font-size: 16px;
    border: 10%;
    border-radius: 6px;
    margin: 0 auto;
    width: 700px;
    height: 25px;

}

.formPesquisa {
    width: 80%;
    display: flex;
    margin-top: 8px;
}

.boxicones{
    display: flex;
    margin-top: 20px;
    width: 5%;
    margin-right: 5%;
   
  }

  .login{
    width: 100%;
  }

  .unidades{
    margin-left:10px ;
    width: 100%;
  } 

  .carro{
    margin-left: 10px;
    width: 100%;
  }

  
  nav{
    display: flex;
  }

/* RODAPÉ */

footer {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    font-size: 13px;
    background-color: #333;
   
}

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    height: 80px;
}

.formadepagamento {
    display: flex;
    align-items: center;
    text-align: justify;
}

.formadepagamentop {
    display: flex;
    align-items: center;
    text-align: justify;
}

.formadepagamentop img {
    width: 30px;
    height: auto;
}

.formadepagamento img {
    width: 200px;
    height: auto;

}

.formadepagamentop p {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}